<p>Please review the settings above and press "Install" to proceed with cluster setup.
To change individual settings, select the name of the step.</p>


<p><b>Product:</b> <%= @config.product_name %></p>
<p><b>Scenario:</b> <%= @config.scenario_name %></p>
<p><%= @config.scenario['description']%></p>
<br>
<b>Overall status:</b>&nbsp; 
<% if !@config.can_install? %>
  <%= "<font color=\"red\">Configuration is incomplete.</font>" %>
<% else %>
<%= "<font color=\"green\">Configuration is complete.</font>" %>
<% end %>
<br>
<br>

<h3>Configuration steps</h3>

<p><a href="comm_layer"> Communication Layer:</a>
  <% if !@config.cluster.configured? %>
  <%= 'Not configured</p>' %>
  <%= @config.cluster.html_errors(:comm_layer) %>
  <% else %>
  <%= 'Configured</p>' %>
  <%= "<p>#{@config.cluster.description(:comm_layer)}</p>" %>
  <% end %>

<p><a href="config_cluster">Nodes:</a>
  <% if !@config.cluster.nodes_configured? %>
  <%= 'Not configured</p>' %>
  <%= @config.cluster.html_errors(:nodes) %>
  <% else %>
  <%= '<p>Configured</p>' %>
  <%= "<p>#{@config.cluster.description(:nodes)}</p>" %>
  <% end %>

<p><a href="ntp">NTP Client:</a>
  <% if !@config.ntp.configured? %>
  <%= 'Not configured</p>' %>
  <%= @config.ntp.html_errors %>
  <% else %>
  <%= 'Configured</p>' %>
  <%= "<p>#{@config.ntp.description}</p>" %>
  <% end %>

<p><a href="fencing">Fencing (STONITH):</a>
  <% if !@config.fencing.configured? %>
  <%= 'Not configured</p>' %>
  <%= @config.fencing.html_errors %>
  <% else %>
  <%= 'Configured</p>' %>
  <%= "<p>#{@config.fencing.description}</p>" %>
  <% end %>

<p><a href="watchdog">Watchdog:</a>
  <% if !@config.watchdog.configured? %>
  <%= 'Not configured</p>' %>
  <%= @config.watchdog.html_errors %>
  <% else %>
  <%= 'Configured</p>' %>
  <%= "<p>#{@config.watchdog.description}</p>" %>
  <% end %>

<% if @config.product_id == 'HANA' %>
  <p><a href="hana">HANA Configuration:</a>
  <% if !@config.hana.configured? %>
  <%= 'Not configured</p>' %>
  <%= @config.hana.html_errors %>
  <% else %>
  <%= 'Configured</p>' %>
  <%= "<p>#{@config.hana.description}</p>" %>
  <% end %>
<% end %>
