<% textdomain "sap-ha" %>
<h2>Installation summary</h2>
<table cellpadding="5">
    <tr>
        <td><b>Product:</b></td>
        <td><%= @config.product_name %></td>
    </tr>
    <tr>
        <td><b>Scenario:</b></td>
        <td><%= @config.scenario_name %></td>
    </tr>
</table>
<br><br>
<%= @config.scenario['description']%>
<br>
<table border="1" cellpadding="5">
    <tr>
        <th colspan="2">Configuration steps</th>
    </tr>
    <tr>
        <td>Communication layer:&nbsp;</td>
        <td>
            <% if !@config.conf_communication.configured? %>
            <%= 'Not configured (<a href="config_network">configure</a> or <a href="join_cluster">join an existing cluster</a>)' %>
            <% else %>
            <%= 'Configured (<a href="config_network">reconfigure</a> or <a href="join_cluster">join an another cluster</a>)<br>' %>
            <%= @config.conf_communication.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Cluster members:</td>
        <td>
            <% if !@config.conf_nodes.configured? %>
            <%= 'Not configured (<a href="config_members">configure</a>)' %>
            <% else %>
            <%= 'Configured (<a href="config_members">reconfigure</a>)<br>' %>
            <%= @config.conf_nodes.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Fencing (STONITH):</td>
        <td>
            <% if !@config.stonith.configured? %>
            <%= 'Not configured (<a href="fencing">configure</a>)' %>
            <% else %>
            <%= 'Configured (<a href="fencing">reconfigure</a>)<br>' %>
            <%= @config.stonith.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Watchdog:</td>
        <td>
            <% if !@config.watchdog.configured? %>
            <%= 'Not configured (<a href="watchdog">configure</a>)' %>
            <% else %>
            <%= 'Configured (<a href="watchdog">reconfigure</a>)<br>' %>
            <%= @config.watchdog.description %>
            <% end %>
        </td>
    </tr>
</table>
