<% textdomain "sap-ha" %>
<!--<h2>Installation summary</h2>-->
<table cellpadding="5">
    <tr>
        <td><b>Product:</b></td>
        <td><%= @config.product_name %></td>
    </tr>
    <tr>
        <td><b>Scenario:</b></td>
        <td><%= @config.scenario_name %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= @config.scenario['description']%>
      </td>
    </tr>
</table>

<br>

<table border="1" cellpadding="5">
    <tr>
        <td>Overall status:</td>
        <td>
            <% if !@config.can_install? %>
               <%= "<font color=\"red\">Configuration is incomplete.</font>" %>
            <% else %>
               <%= "<font color=\"green\">Configuration is complete.</font>" %>
            <% end %>
        </td>
    </tr>
    <tr>
        <th colspan="2">Configuration steps</th>
    </tr>
    <tr>
        <td>Communication layer:&nbsp;</td>
        <td>
            <% if !@config.communication_layer.configured? %>
            <%= 'Not configured (<a href="config_network">configure</a> or <a href="join_cluster">join an existing cluster</a>)' %>
            <% else %>
            <%= 'Configured (<a href="config_network">reconfigure</a> or <a href="join_cluster">join an another cluster</a>)<br>' %>
            <%= @config.communication_layer.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Cluster members:</td>
        <td>
            <% if !@config.cluster_members.configured? %>
            <%= 'Not configured (<a href="config_members">configure</a>)' %>
            <% else %>
            <%= 'Configured (<a href="config_members">reconfigure</a>)<br>' %>
            <%= @config.cluster_members.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Fencing (STONITH):</td>
        <td>
            <% if !@config.stonith.configured? %>
            <%= 'Not configured (<a href="fencing">configure</a>)' %>
            <% else %>
            <%= 'Configured (<a href="fencing">reconfigure</a>)<br>' %>
            <%= @config.stonith.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Watchdog:</td>
        <td>
            <% if !@config.watchdog.configured? %>
            <%= 'Not configured (<a href="watchdog">configure</a>)' %>
            <% else %>
            <%= 'Configured (<a href="watchdog">reconfigure</a>)<br>' %>
            <%= @config.watchdog.description %>
            <% end %>
        </td>
    </tr>
    <% if @config.product_id == 'HANA' %>
    <tr>
        <td>HANA configuration:</td>
        <td>
            <% if !@config.hana.configured? %>
            <%= 'Not configured (<a href="hana">configure</a>)' %>
            <% else %>
            <%= 'Configured (<a href="hana">reconfigure</a>)<br>' %>
            <%= @config.hana.description %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
