<html>
<head>
<style>
    body {
        background-color: "#ffffff";
    }
    table, th, td {
        border-color: "black";
        padding: "5";
        border-width: 1px;   
        border-style: none;
        padding-top: 1px;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 1px;
    }
    td {
        padding-right: 10px;
    }
    .tbold {
        font-weight: bold;
    }
    .col_red {
        color: "#b30000";
    }
    .col_green {
        color: "#008000";
    }
    .col_suse_dk_grn {
        color: "#00843E";
    }
    .col_suse_grn {
        color: "#7AC142";
    }
    .col_suse_med_grn {
        color: "#00A54F";
    }
    .col_suse_dk_gray {
        color: "#58585a";
    }
    a {
        font-weight: bold;
        /*color: "#003300";*/
        color: "#00A54F";
    }
    .steps {
        padding-top: 5px;
    }
</style>
</head>
<body>

<p>Please review the settings above and click "Install" to proceed with cluster setup. To change individual settings, click the name of the step.</p>

<table cellpadding="5">
    <tr>
        <td><p class="tbold col_suse_dk_grn">Product:</p></td>
        <td><%= @config.product_name %></td>
    </tr>
    <tr>
        <td><p class="tbold col_suse_dk_grn">Scenario:</p></td>
        <td><%= @config.scenario_name %></td>
    </tr>
    <tr>
        <td><p class="tbold col_suse_dk_grn">Description:</p></td>
        <td><%= @config.scenario['description']%></td>
    </tr>
</table>
<hr>

<%# not_configured = '<span class="col_red">Not configured</span>' %>
<% configured = '<span class="col_suse_grn">Configured</span><br>' %>
<% not_configured = '<p class="col_red">Not configured</p>' %>
<%# configured = '<p class="col_green">Configured</p>' %>

<center>
    <% if !@config.can_install? %>
       <%= '<p class="tbold col_red">Configuration is incomplete.</p>' %>
    <% else %>
       <%= '<p class="tbold col_suse_med_grn">Configuration is complete.</p>' %>
    <% end %>
</center>

<hr>
<table class="steps">
    <tr>
        <td align="right">
            <a href="comm_layer">Communication Layer:</a><br>
            <a href="config_cluster">Nodes:</a>
        </td>
        <td>
            <% if !@config.cluster.configured? %>
            <%= not_configured %>
            <% else %>
            <%= configured %>
            <%= @config.cluster.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td align="right"><a href="ntp">NTP Client:</a></td>
        <td>
            <% if !@config.ntp.configured? %>
            <%= not_configured %>
            <% else %>
            <%= configured %>
            <%= @config.ntp.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td align="right"><a href="fencing">Fencing (STONITH):</a></td>
        <td>
            <% if !@config.fencing.configured? %>
            <%= not_configured %>
            <% else %>
            <%= configured %>
            <%= @config.fencing.description %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td align="right"><a href="watchdog">Watchdog:</a></td>
        <td>
            <% if !@config.watchdog.configured? %>
            <%= not_configured %>
            <% else %>
            <%= configured %>
            <%= @config.watchdog.description %>
            <% end %>
        </td>
    </tr>
    <% if @config.product_id == 'HANA' %>
    <tr>
        <td align="right"><a href="hana">HANA configuration:</a></td>
        <td>
            <% if !@config.hana.configured? %>
            <%= not_configured %>
            <% else %>
            <%= configured %>
            <%= @config.hana.description %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
</body>
</html>